.payment-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-container h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.payment-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.payment-container li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-container button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.payment-container button:hover {
    background-color: #0056b3;
}

.payment-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-container input,
.payment-container select,
.payment-container textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.payment-container label {
    font-weight: bold;
}

.payment-container input[type="checkbox"] {
    width: auto;
}

.payment-table {
    width: 100%;
    margin-top: 20px;
}

.payment-table th,
.payment-table td {
    text-align: center;
    padding: 8px;
}

.payment-table th {
    background-color: #f2f2f2;
}

.search-filter input[type="datetime-local"] {
    margin-left: 10px;
    padding: 5px;
}


.pagination {
    margin-top: 20px;
}

.pagination button {
    margin-right: 5px;
}

button.active {
    background-color: #007bff;
    color: white;
}

.highlight {
    background-color: yellow;
  }

.message-success {
    color: blue;
    text-align: center;
    margin-top: 20px;
}

.message-error {
    color: red;
    text-align: center;
    margin-top: 20px;
}