.home-container {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #f0f2f5;
  color: #333;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.header h1 {
  font-size: 2.5em;
  color: #2D4354;
}

.header p {
  font-size: 1.2em;
  color: #666;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

/* Card styling */
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card-header {
  margin: 0;
  background-color: #2D4354;
  color: white;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-body li {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 25px;
  background-color: #2D4354;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link i {
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #1B2A36;
  transform: scale(1.05);
}

.search-container {
  position: relative;
  width: 90%;
  max-width: 90%;
  margin: 0 auto 30px;
}

.search-input {
  position: relative;
  width: 90%;
}

.search-input input[type="text"] {
  width: 100%;
  padding: 15px 20px 15px 40px;
  border: none;
  border-radius: 25px;
  background-color: #e0e0e0;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-input input[type="text"]:focus {
  outline: none;
  background-color: #d0d0d0;
  box-shadow: 0 0 10px rgba(254, 93, 122, 0.2);
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.search-results {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: opacity 0.3s ease;
  -ms-overflow-style: none;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.result-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.result-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.footer {
  background-color: #2D4354;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.footer p {
  margin: 0;
}

.footer p::before {
  margin-right: 5px;
}

/* Quote section */
.quote-weather-news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.quote {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  animation: bubbleIn 1s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #2D4354, #42a5f5, #ab47bc);
  border-image-slice: 1;
  border-radius: 50px;
  position: relative;
}

.quote h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #2D4354;
}

.quote-text {
  font-size: 1.2em;
  font-style: italic;
  margin: 0;
}

.quote::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50px;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #2D4354, #42a5f5, #ab47bc);
  border-image-slice: 1;
  animation: cloudBorder 5s linear infinite;
}

/* Bubble arrow */
.quote::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bubbleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Dark mode styles */
.dark-mode .home-container {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .header h1,
.dark-mode .header p {
  color: #e0e0e0;
}

.dark-mode .card {
  background-color: #1f1f1f;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.dark-mode .card-header {
  background-color: #333;
}

.dark-mode .card-body {
  border-top: 1px solid #333;
}

.dark-mode .card-body li {
  border-color: #333;
}

.dark-mode .search-container input[type="text"] {
  background-color: #333;
  color: #fff;
}

.dark-mode .search-container input[type="text"]:focus {
  background-color: #444;
}

.dark-mode .search-results {
  background-color: #333;
}

.dark-mode .result-item {
  color: #e0e0e0;
}

.dark-mode .result-item:hover {
  background-color: #444;
}

.dark-mode .quote {
  background-color: rgba(51, 51, 51, 0.8);
  border-image: linear-gradient(to right, #333, #555, #777);
}

.dark-mode .quote::before {
  border-image: linear-gradient(to right, #333, #555, #777);
}

.dark-mode .quote::after {
  border-color: rgba(51, 51, 51, 0.8) transparent transparent transparent;
}

.dark-mode .quote h3,
.dark-mode .quote-text {
  color: #ccc;
}

.dark-mode .footer {
  background-color: #1f1f1f;
}

/* Quick Access styling */
.quick-access {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quick-access-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  color: #2D4354;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.quick-access-link i {
  font-size: 2em;
  margin-bottom: 10px;
}

.quick-access-link span {
  font-size: 1em;
}

.quick-access-link:hover {
  transform: scale(1.05);
}